<h1>About</h1>
This is the official student store for Lincoln High School in Portland, Oregon. It is operated by parent volunteers and students.
<br><br>
Students and other volunteers work on all aspects of the store: buying, selling, designing, event planning, marketing, etc.