@import "/bower_components/suit-grid/grid.css";
@import "/bower_components/suit-grid-layouts/grid-layouts-v1.css";

* {
  font-family: helvetica;
}

img#banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 100%;
}

div#nav {
  text-align: center;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  border-bottom: 1px solid #000;
}

p#intro {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: block;
  text-align: left;
  padding: 10px;
  border: 1px dashed #524656;
}

#home {
  text-align: center;
}

footer {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 1000px;
  border-top: 1px dashed #524656;
  padding: 10px;
}

footer span {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
