<div id="form">
  <h1 id="title">Add product</h1>
  <form action="/admin/products/new" method="post">
    <div id="new-product">
      <input id="form-name" placeholder="Name" name="name"><br><br>
      <input id="form-description" placeholder="Description" name="description"><br><br>
      <input id="form-image_url" placeholder="Image URL" name="image_url"><br><br>
      <input id="form-price" placeholder="Price" name="price"><br><br>
    </div>
    <input type="submit">
  </form>
</div>